
Group4_Lab4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/Group4_Lab4/config/applicationhost.config
.vs/Group4_Lab4/v16/.suo
.vs/Group4_Lab4/v16/Server/sqlite3/db.lock
.vs/Group4_Lab4/v16/Server/sqlite3/storage.ide
.vs/Group4_Lab4/v16/Server/sqlite3/storage.ide-shm
.vs/Group4_Lab4/v16/Server/sqlite3/storage.ide-wal
Group4_Lab4/bin/Group4_Lab4.dll
Group4_Lab4/obj/Debug/Group4_Lab4.csproj.FileListAbsolute.txt
Group4_Lab4/obj/Debug/Group4_Lab4.csprojAssemblyReference.cache
Group4_Lab4/obj/Debug/Group4_Lab4.dll
Group4_Lab4/obj/Debug/Group4_Lab4.pdb
Group4_Lab4/bin/Group4_Lab4.pdb
